* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}
/* Begin of styles for the demo (you can remove them) */
a.expand {
	width: 90px;
	display: block;
	margin: 10px 0 0;
}
a.expand:hover {
	height: 500px;
}
/* End of of styles for the demo */
.wrapper {
	width: 1000px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	border-left: 250px solid #B5E3FF;
	position: relative;
	background: white;
	/*opacity: 0.7;*/
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	/*height: 100%;*/
	float: left;
	overflow: hidden;
	margin-right: -100%;
	/*background: white;*/

}
.content {
	padding: 0 20px;
	margin-top: 20px;

}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	position: relative;
	background: #B5E3FF;
	left: -250px;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 130px;
	background: #BFF08E;
}


#top{
	height: 140px;
	background: url(../img/gif/gl.gif) repeat-x;
	 /*background-color: lightblue;*/

opacity: 1;

	 /*background-size: 100%;*/
}

.img-overlay{
    
}

body{
	   background: url(../img/fon.jpg) no-repeat center center fixed;
	    /*background-size: 100%;*/
	     background-size: cover;
}

#img-header{
    width: 100%;
    height: 100%;
	background: url(../img/christmas.jpg) 100% 100% no-repeat;
	 background-size: cover;
   }

   .block{
	border:1px solid #e3e3e3;
	
	width:235px;
	background:#FFF;
	margin:10px 0px 10px 5px;
}
h2{
	color:#db1011;
	font-size:18px;
	line-height:22px;
	text-transform:uppercase;
	padding:10px;
}

.view-categories li{
	list-style:none;
	background:url(../img/line/arrow.png) no-repeat 18px 5px;
	padding-left:35px;
	margin-left:0px;
}


.view-categories li a{
	color:#6b6a6a;text-transform:uppercase;
	font-size:14px;
	text-decoration:none;
}
.field-content{
	background:url(../img/line/bottom-line.png) no-repeat 0 bottom;
	display:block;
	height:20px;
}


#kiska{
	width: 70px;
	height: 60px;
	background: url(../img/gif/kote.gif) no-repeat;
cursor: pointer;

position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 90%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
   
    
/*position: relative; top: 100%;
left: 100%;*/
  
}

.footer{
	background: url(../img/futer.png);
	    /*background-size: 100%;*/
	     background-size: cover;
}

.footer div{
	padding-top: 10px;
	margin-left: 20px;
	width: 240px;
}

.otstup{
	margin-right: 10px;
}


.price_color{
	 color: red; /* Цвет символа */
}

.cursor_pointer{
	cursor: pointer;
}


#div_okno{
	position: fixed; /* Фиксированное положение */
    left: 0; /* Расстояние от правого края окна браузера */
    top: 0; /* Расстояние сверху */
    width: 100%;
    height: 100%;
	background: #000;
	opacity: 0.6;
	/*z-index: 10;*/
	
}


#div_okno_img{
	/*position: fixed;*/
			/*margin: 100px auto 0;*/
			/*width: 500px;*/
			/*overflow: hidden;*/
			/*z-index: 1001;*/
			/*height: 700px;*/
			/*border: 1px solid #4c6a8a;*/
			 /*background-size: cover;*/
			border: 0px double black;
			 
}

.fon_index{
	width: 96%; 
	height: 140px; 
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px inset #97D9F7;
	padding: 10px;
}

.fon_p{
	color:red;
	font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.fon_p1{
color: #444444;
    line-height: 18px;

}

.line_glavnaja{
	margin-bottom: 20px;
	background: #EFEFEF;
}

.line_glavnaja p{
	display: block;
    float: left;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #7c7c7c;
    padding: 0px 32px 0 33px;
    height: 54px;
}

/*#outerdiv 
{ 
width:756px; 
height:1096px; 
overflow:hidden; 
position:relative; 
}


#innerIframe 
{ 
position:absolute; 
top:-550px; 
left:-79px; 
width:1280px; 
height:1500px; 
}*/


a.button15 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: 1.1em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
  /*height: 40px;*/
}
a.button15:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
a.button15:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}